<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Sign Up Form</title>
</head>

<body>
    <div class="container">
        <div class="left-section">
            <h1> &nbsp;&nbsp;&nbsp;WELCOME </h1>
        </div>
        <div class="right-section">
            <h2>Sign Up</h2>
            <form action="/new/user" method="post">
                <div class="input-group">
                    <input type="text" name="user_name" placeholder="Username">
                    <span class="icon">👤</span>
                </div>
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email">
                    <span class="icon">📧</span>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password">
                    <span class="icon">🔒</span>
                </div>
                <button type="submit" class="btn">Sign Up</button>
                <p class="login-link">Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>
