<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>login form</title>
</head>

<body>
    <div class="container">
        <div class="right-section">
            <h2>Login</h2>
            <form action="/user/login" method="post">
                <div class="input-group">
                    <input type="email" id="email" placeholder="Email">
                    <span class="icon">📧</span>
                </div>
                <div class="input-group">
                    <input type="password" id="password" placeholder="Password">
                    <span class="icon">🔒</span>
                </div>
                <button type="submit" class="btn"> Login</button>
                <p class="login-link">Don't have an account <a href="/signUp">Sign Up</a></p>
            </form>
        </div>
        <div class="left-section">
            <h1> &nbsp;&nbsp;&nbsp;WELCOME </h1>
        </div>
    </div>
</body>
</html>